<!DOCTYPE html>
<html>
  <head>
    <title>The Marvel (vs Capcom) of Technology</title>
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <script data-main="scripts/main" src="/libs/require.min.js"></script>
    <style type="text/css">
      body { background-color: #000; }
      canvas#game { width: 1280px; height: 720px; }
    </style>
  </head>

  <body>
    <canvas id="game" width="1280" height="720"></canvas>
  </body>

</html> 