<!DOCTYPE html>
<html>
	<head>
		<title>The Marvel (vs Capcom) of Technology</title>
		<script src="scripts/gauge/justgage.js"></script>
		<script data-main="scripts/inputscenemain" src="/libs/require.min.js"></script>
		<style type="text/css">
	      html body { background-color: #000; width:100%; height:100%; -ms-touch-action: none;}
	    </style>
	</head>

	<body>
		<canvas id="interface" width="1200" height="720" style="border:1px solid #c3c3c3; width:100%;"></canvas>

		<div id="gauge" class="200x160px" style="width=200px;height=160px;"></div>
	</body>

</html> 